{% load static %}
{% load i18n %}
{% comment %} {% load django_htmx %} {% endcomment %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">
    
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{% block title %}{% trans "eWork" %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_head %}{% endblock extra_head %}
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'> 
    {% csrf_token %}

    <main>
        <div id="main-content">
            {% block content %}
            {% comment %} Основной блок {% endcomment %}
            {% endblock %}
        </div>
    </main>

    <div class="modal fade" id="modal" tabindex="-1">
        <div class="modal-dialog" id='dialog'> 
            {% comment %} Модальное окно {% endcomment %}
        </div>
    </div>
    
    {% comment %} Подвал {% endcomment %}
    {% include "components/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script defer src="{% static 'js/dialog.js' %}"></script>
    {% comment %} <script src="https://telegram.org/js/telegram-web-app.js"></script>s {% endcomment %}

</body>

</html>