{% load i18n %}

<div class=" container">
  <h1 class="mb-4 text-center">{% trans "Тарифы" %}</h1>
  <div class="container-fluid px-0 py-0">
    <!-- Accordion of Packages -->
    <div class="accordion" id="packagesAccordion">
      {% for package in packages %}
      <div class="accordion-item mb-3 shadow-sm rounded">
        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{ forloop.counter }}"
            aria-expanded="false"
            aria-controls="collapse{{ forloop.counter }}">
            {{ package.name }}
          </button>
        </h2>
        <div
          id="collapse{{ forloop.counter }}"
          class="accordion-collapse collapse"
          aria-labelledby="heading{{ forloop.counter }}"
          data-bs-parent="#packagesAccordion">
          <div class="accordion-body">
            <p class="mb-2">{{ package.description }}</p>
            <h5 class="text-dark">{% trans "Дополнительные возможности" %}</h5>
            <ul class=" mb-0">
              <li>{% trans "Добавить фото к объявлению: " %}{{ package.photo_addon_price }} ₴</li>
              <li>{% trans "Выделить объявление цветом: " %}{{ package.highlight_addon_price }} ₴</li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

