{% extends "pages/base.html" %}

{% block title %}Політика конфіденційності{% endblock %}

{% block content %}

<div class="d-block d-md-none bg-light min-vh-100">
  <div class="container py-3">

    <div class="d-flex align-items-center bg-primary text-white rounded-3 p-2 mb-3 shadow-sm">
      <div>
        <div class="h6 mb-0 fw-bold">Політика конфіденційності</div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body p-3">
        <h5 class="mb-2">1. ОБЛАСТЬ ЗАСТОСУВАННЯ ТА ЗГОДА</h5>
        <p class="mb-3">
            1.1. Персональні дані фізичних осіб - користувачів сервісу
                Help Work обробляються ФОП Гончаренко Наталія Миколаївна, зареєстрованою за законодавством України, з місцезнаходженням за адресою вул.Сергія Грицевця,19а.м.Харків(далі Компанія).
                Компанія є власником Бази персональних даних користувачів Help Work
        </p>
        <p class="mb-3">
            1.2. Персональні дані користувачів Help Work обробляються на захищених серверах, розташованих як у межах, так і поза межами Європейського економічного простору.
        </p>
        <p class="mb-3">
            1.3. Ця Політика конфіденційності описує встановлений Компанією порядок обробки персональних даних, зібраних за допомогою MiniApss https://helpwork.com.ua (далі - додаток),Телеграм боту @HelpWorkUaBot(далі - телеграм бот) і пов'язаних з ними послуг і інструментів, 
                що дозволяють користувачам реєструватися в додатку, публікувати або переглядати в режимі реального часу вже опубліковані оголошення, використовувати інший, пов'язаний з вищенаведеним сервіс Help Work. У всіх зазначених випадках компанія  
                обробляє персональні дані користувачів виключно в рамках вимог Закону України «Про захист персональних даних» та Конвенції про захист осіб у зв'язку з автоматизованою обробкою персональних даних. Ця Політика конфіденційності розроблена відповідно до положень цих документів.
        </p>
        <p class="mb-3">
            1.4. Використовуючи бот, та/або мобільний додаток, та/або інші пов'язані сервіси та інструменти Help Work, Користувач надає свою згоду Компанії на обробку своїх персональних даних, таких як ім'я користувача; регіон проживання, адреса електронної пошти, контактний телефон, 
                інша контактна інформація за бажанням користувача; ip-адреси, інші комунікаційні дані користувачів; повідомлення, листи, заяви, що передаються користувачу іншими користувачами і навпаки, а також дає свою згоду на передачу своїх персональних даних третім особам, в тому числі на 
                передачу персональних даних за кордон, в будь-яку третю країну, в відповідності з цією Політикою конфіденційності та Угодою з користувача сервісів Help Work
        </p>
        <p class="mb-3">
            1.5. Користувачі повинні знати, що при переході на деякі посилання, розміщені на Сайті,в боті або в додатку, вони можуть бути перенаправлені до сайтів (з додатками і т.д.) інших компаній за межі хостингового простору компанії, 
                де інформація про Користувачів збирається поза прямим контролем Компанії. В такому випадку Політики конфіденційності сайтів та/або додатків третіх осіб регулюватимуть порядок обробки інформації, отриманої від користувачів цими третіми особами.
        </p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body p-3">
        <h5 class="mb-2">2. ІНФОРМАЦІЯ, ЯКУ ЗБИРАЄ, ОТРИМУЄ І РОЗМІЩУЄ КОМПАНІЯ</h5>
        <p class="mb-3">
            2.1. Інформація про реєстрацію: При створенні Користувачем облікового запису у додатку, Компанія може вимагати певну інформацію, таку як дійсну адресу електронної пошти та пароль. Обліковий запис включає в себе таку інформацію про них, як географічне розташування, ім'я та прізвище, номер телефону 
            і супутню інформацію, в тому числі фотографії, які вони можуть завантажувати у свій обліковий запис. {Обліковий запис дозволяє користувачам зв'язуватися один з одним, щоб висловити зацікавленість у своїх пропозиціях}. Користувачі несуть відповідальність за всю інформацію, що розміщується ними в загальнодоступних облікових записах. 
            Користувач повинен усвідомити всі ризики, пов'язані з тим, що він оприлюднює адресу або інформацію про точне місце свого розташування.</li>
        </p>
        <p class="mb-3">
            2.2. Користувачі несуть відповідальність за всю інформацію, що розміщується ними в додатку. Користувач повинен уважно усвідомити всі ризики, пов'язані з тим, що він оприлюднює адресу, або інформацію особистого характеру    
        </p>
        <p class="mb-3">
            2.3. Обслуговування клієнтів: При зверненні користувачів до відділу обслуговування клієнтів, Компанія, при необхідності, може в процесі роботи свого Сайту збирати особисту інформацію, необхідну для виконання запиту Користувача і отримання зворотного зв'язку. 
            Компанія може також зв'язатися з Користувачем, використовуючи існуючу контактну інформацію облікового запису, надану для цієї мети. Компанія може також збирати іншу інформацію про спілкування з Користувачами, наприклад, будь-які запити до служби підтримки, що подаються Користувачами, 
            або будь-який зворотний зв'язок, що надається ними, зокрема, у формі відгуків, залишених Користувачами. Ми можемо обробляємо відгуки в якості даних, що стосуються Користувача – автора відгуку, та Користувача, відносно якого було залишено відгук.
        </p> 
        <p class="mb-3">
            2.4. Веб-сайт та мобільні дані: Компанія може автоматично отримувати і реєструвати на своїх серверах інформацію з браузера користувача або будь-якого пристрою, включаючи IP-адресу, геолокацію Користувача програмне забезпечення і апаратні атрибути, 
            сторінки, які запитує Користувач, дані, які містяться в базах даних браузера, включаючи SQL бази даних, мобільні ідентифікатори (включаючи ідентифікатори мобільних пристроїв, такі як Google Advertisement ID, IFA or IFV), інформацію про використання додатків, та/або 
            інформацію про інші використовувані пристрої, або інформацію системного рівня. 
            Це може відбуватися на Сайті або на мобільному додатку, або на сервісах третіх осіб. Додаткова інформація про те, як користувачі можуть контролювати та/або блокувати такий збір інформації знаходиться нижче в розділі 6 цієї політики.
        </p> 
        <p class="mb-3">
            2.5. Інформація, отримана в результаті опитувань: Компанія може збирати та зберігати інформацію, що отримана в результаті опитувань, що можуть проводитись Компанією, або залученими Компанією підрядниками, - третіми особами, а саме інформацію щодо статі, віку, сімейного стану, особистих вподобань та ін.
        </p> 
        <p class="mb-3">
            2.6. Інформація, що додається: Компанія може також додати інформацію, отриману на законних підставах від ділових партнерів або третіх сторін, до існуючих даних Компанії про своїх користувачів.
        </p> 
        <p class="mb-3">
            2.7.Коли ви зв’язуєтеся з нами через чат Центру підтримки клієнтів, ви можете спілкуватися з чат-ботом, членом команди Help Work або приватним експертом з веб-сайту (Сервісу), який є таким же Користувачем, як і ви, обраним і погодженим Help Work, 
            кожен із яких належним чином верифікований для початку розмови. Компанія може обробляти та ділитися інформацією, якою ви вирішите поділитися під час використання цієї функції, для того щоб здійснювати обслуговування клієнтів якісніше.
        </p> 

      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body p-3">
        <h5 class="mb-2">3.Інформація, яку Компанія не збирає і не обробляє</h5>
        <p class="mb-0">
            Компанія не збирає і не обробляє персональні дані про расове або етнічне походження, політичні, релігійні або світоглядні переконання, членство в політичних партіях та професійних спілках та подібну інформацію.
        </p>
      </div>
    </div>

    <div class="card mb-3 shadow-sm border-0">
    <div class="card-body p-4">
        <h5 class="mb-2">4. Використання персональних даних</h5>
        <p class="mb-3">
            4.1. Для надання своїх послуг Компанія може використовувати інформацію, яку збирає і розміщує для наступних цілей:
        </p>
        <p class="mb-3">
            4.1.1. забезпечення обслуговування клієнтів, в тому числі для створення і управління обліковими записами користувачів, вирішення технічних труднощів і доступу до різних функцій;
        </p>
        <p class="mb-3">
            4.1.2. адаптація пропозицій і досвіду, в тому числі реклами на своїх сервісах або сервісах третіх осіб;
        </p>
        <p class="mb-3">
            4.1.3. контроль загальної та індивідуальної активності користувачів, такий як пошук за ключовими словами, активності за публікаціями оголошень та укладання угод, а також для управління трафіком на Сайті;
        </p>
        <p class="mb-3">
            4.1.4. зв'язок з користувачами, в тому числі з питань сервісу, обслуговування клієнтів або дозволених маркетингових комунікацій через будь-які доступні канали зв'язку;
        </p>
        <p class="mb-3">
            4.1.5. проведення науково-дослідницької та аналітичної активності з метою поліпшення нашого сервісу; та
        </p>
        <p class="mb-3">
            4.1.6. забезпечення дотримання Угоди з користувачами сервісів Help Work, враховуючи боротьбу з шахрайством і образами;
        </p>
        <p class="mb-3">
            4.1.7. оцінка деяких факторів особистої інформації, зокрема, для аналізу та прогнозування особистих вподобань, інтересів, поведінки та місцезнаходження.
        </p>
        <p class="mb-3">
            4.2. Компанія буде зберігати Ваші персональні дані настільки довго, наскільки це необхідно для досягнення цілей, заради яких вони були зібрані, в тому числі для виконання будь-яких юридичних, бухгалтерських вимог, або вимог щодо звітності.
            Для визначення відповідного періоду зберігання Компанія враховує обсяг, характер і чутливість персональних даних, потенційний ризик заподіяння шкоди від несанкціонованого використання або розголошення Ваших персональних даних, мету, заради яких Компанія обробляє Ваші персональні дані, а також чи може Компанія досягти цих цілей за допомогою інших засобів, і відповідні юридичні вимоги.
            Якщо у вашому обліковому записі не було активності більше 24 місяців, ми залишаємо за собою право видалити ваш обліковий запис, включаючи всі особисті дані, що зберігаються в обліковому записі, що означає, що ви більше не зможете отримати до нього доступ і використовувати його.
        </p>
        <p class="mb-0">
        У разі виникнення питань щодо періоду зберігання даних, будь ласка, зв'яжіться з нами через адміна: 
        <a href="https://t.me/helpworkUa" target="_blank">@helpworkUa</a>
        </p>
    </div>
    </div>


<div class="card mb-3 shadow-sm border-0">
  <div class="card-body p-4">
    <h5 class="mb-2">5. Обмін інформацією</h5>
    <p class="mb-3">
      5.1. Компанія не надає особисту інформацію користувачів неафілійованим особам, за винятком випадків, коли є відповідний дозвіл користувачів або за наступних обставин:
    </p>
    <p class="mb-3">
        5.1 . Компанія не надає особисту інформацію користувачів не афілійованим особам, за винятком випадків, коли на те є відповідний дозвіл користувачів, або за наступних обставин:
    </p>
    <p class="mb-3">
        5.2. Компанія може використовувати сторонніх постачальників послуг для надання деяких складових своїх послуг, в таких випадках постачальники не мають повноважень використовувати отримані за допомогою Сайту Компанії персональні дані, інакше ніж для надання послуг Компанії, а самі персональні дані є предметом цієї Політики Конфіденційності.
    </p>
    <p class="mb-3">
        5.3. Компанія залишає за собою право відповідно до вимог законодавства обмінюватися інформацією з приватними особами та державними органами в наступних цілях:
        боротьба з шахрайством та зловживаннями на Сайті;
        розслідування передбачуваних порушень закону або боротьби з будь-якими іншими передбачуваними порушеннями Угоди з користувачами сервісів Help Work Користувачами.
    </p>
    <p class="mb-3">
        5.4. Компанія може надавати персональні дані користувачів на запити компетентних органів, оформлених відповідно до вимог чинного законодавства, в тому числі відповідно до ст. 93 Кримінального процесуального кодексу України.
    </p>
    <p class="mb-3">
        5.5. Відповідно до Політики конфіденційності, Компанія зобов'язується не передавати в оренду або продавати будь-які персональні дані Користувача. У разі якщо бізнес Компанії або частина цього бізнесу будуть продані або реорганізовані, та Компанія передає всі або практично всі свої активи новому власнику, то персональні дані користувачів можуть бути передані покупцеві, щоб забезпечити безперервність обслуговування Сайту.
    </p>
    <p class="mb-3">
        5.6. Компанія може передавати певну знеособлену інформацію (дані, які не дозволяють ідентифікувати користувачів окремо) стороннім постачальникам послуг, довіреним партнерам або авторизованим дослідникам з метою кращого розуміння, яка реклама або послуги можуть зацікавити користувачів, поліпшення загальної якості та ефективності послуг на Сайті або сервісів, або для забезпечення свого внеску в наукові дослідження, які, на думку Компанії, можуть приносити велику соціальну користь.
    </p>
    <p class="mb-3">
        5.7. Компанія може передавати інформацію, яку вона збирає третім особам, які надають послуги Компанії, з метою проведення досліджень, або надання сервісів Користувачам, при цьому дані, які передаються є предметом цієї Політики Конфіденційності, а залучені треті особи не мають право використовувати отриману інформацію інакше як для надання послуг Компанії.
    </p>
    <p class="mb-0">
        5.8. У випадках передачі персональних даних, передбачених цим розділом 5 Політики конфіденційності, інформування Користувача про передачу його персональних даних залишається на розсуд Компанії.
    </p>
  </div>
</div>

    <div class="card mb-3">
      <div class="card-body p-3">
        <h5 class="mb-2">6. БЕЗПЕКА</h5>
        <p class="mb-0">
            Вся інформація, яку ми збираємо в розумних межах захищена технічними засобами і процедурами забезпечення безпеки з метою запобігання несанкціонованому доступу або використання даних. Афілійовані з Компанією особи, надійні партнери і незалежні постачальники послуг зобов'язуються використовувати отриману від Компанії інформацію відповідно до наших вимог до безпеки і цієї Політикою Конфіденційності.
        </p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body p-3">
        <h5 class="mb-2">7. ВНЕСЕННЯ ЗМІН ДО ЦІЄЇ ПОЛІТИКИ</h5>
        <p class="mb-0">Ця політика конфіденційності була в останнє оновлена 21.08.2025 Компанія може час від часу оновлювати цю політику конфіденційності, нова редакція Політики конфіденційності вступає в силу з моменту її розміщення в мережі Інтернет за вказаною в цьому пункті адресою, якщо інше не передбачено новою редакцією Політики конфіденційності. Чинна редакція Політики конфіденційності завжди знаходиться на сторінці за адресою ( наша ссылка )</p>
        <p class="mb-0">У разі якщо Компанією були внесені будь-які зміни в Політику Конфіденційності, з якими Користувач не згоден, він зобов'язаний припинити використання сервісів Сайту. Факт продовження використання Сайту є підтвердженням згоди і прийняття Користувачем відповідної редакції Політики Конфіденційності.</p>
      </div>
    </div>

    <div class="card mb-3 shadow-sm border-0">
        <div class="card-body p-4">
            <h5 class="mb-2">8. Користувацький контроль</h5>
            <p class="mb-3">
                8.1. Доступ, Виправлення і Вилучення: Користувачі, які створили обліковий запис, або розмістили оголошення в Долатку, можуть отримувати доступ, виправляти або видаляти інформацію, яку вони надають. Користувач несе відповідальність за точність наданих даних, або повідомлень в Додатку.
            </p>
            <p class="mb-3">
                8.2. Вибір третіх осіб: деякі зовнішні суб'єкти, що діють на сайті, наприклад, Google Adwords дозволяють користувачам відкликати свою згоду на збір і використання своїх даних для реклами на основі активності користувачів. Для отримання більш детальної інформації та можливості вибору, будь ласка, відвідайте 
            <a href="http://www.networkadvertising.org" target="_blank">networkadvertising.org</a>.
            </p>
            <p class="mb-3">
                8.3. Кукіс (Cookies): Більшість основних комп'ютерних (десктопних) і мобільних веб-браузерів (наприклад, Safari, Firefox, Internet Explorer, Chrome, Opera) забезпечують елементи управління, які дозволяють користувачеві обмежити або заблокувати встановлення Кукіс (Cookies) на ваших системах. Зверніть увагу, що відключення Кукіс (Cookies) щодо доменів першої категорії (відвідуваних сайтів) та інших доменів (сайтів, пов'язаних з відвідуваними) може привести в деяких випадках до обмеженої функціональності цих веб-сайтів.
            <p class="mb-3">
                8.4. Інші права Користувачів у зв'язку з обробкою їх персональних даних Компанією:
            </p>
            <p class="mb-3">
                8.4.1.отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються персональні дані користувачів Сайту;
            </p>
            <p class="mb-3">
                8.4.2.доступ до своїх персональних даних;
            </p>
            <p class="mb-3">
                8.4.3.отримувати не пізніше як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених законом, відповідь про те, обробляються чи зберігаються його персональні дані, а також отримувати зміст таких персональних даних;
            </p>
            <p class="mb-3">
                8.4.5. пред'являти вмотивовану вимогу власнику персональних даних із запереченням проти обробки персональних даних;
            </p>
            <p class="mb-3">
                8.4.6. пред'являти вмотивовану вимогу щодо зміни або знищення персональних даних власником та/або розпорядником персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;
            </p>
            <p class="mb-3">
                8.4.7. на захист персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію;
            </p>
            <p class="mb-3">
                8.4.8. звертатися зі скаргами на обробку персональних даних до органів державної влади та посадових осіб, до повноважень яких належить забезпечення захисту персональних даних, або до суду;
            </p>
            <p class="mb-3">
                8.4.9. застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;
            </p>
            <p class="mb-3">
                8.4.10. відкликати згоду на обробку персональних даних;
            </p>
            <p class="mb-3">
                8.4.11. знати механізм автоматичної обробки персональних даних;
            </p>
            <p class="mb-3">
                8.4.12. на захист від автоматизованого рішення, що має для користувачів Сайту правові наслідки.
            </p>
        </div>
    </div>

    <div class="card mb-3">
      <div class="card-body p-3">
        <h5 class="mb-2">Контакти:</h5>
        <p class="mb-0">Наша пошта - HelpWorkUa.Kh@gmail.com</p>
        <p class="mb-0">Тех.Підтримка - <a href="https://t.me/helpworkUa" target="_blank">@helpworkUa</a></p>
      </div>
    </div>


  </div>
</div>

{% endblock %}
