{% load i18n %}

<div class="mb-4">
    <div class="card shadow-sm">
        <div class="card-body">
        <button class="btn btn-outline-primary d-md-none w-100 mb-1 d-flex align-items-center justify-content-center" type="button" 
                data-bs-toggle="collapse" data-bs-target="#filterCollapse" 
                aria-expanded="false" aria-controls="filterCollapse">
            <i class="material-icons me-2">filter_list</i>
            {% trans "Фильтры и сортировка" %}
        </button>
            <div class="collapse d-md-block" id="filterCollapse">
                <form id="filter-form" hx-get="{% url 'core:post_list_by_rubric' rubric_pk %}" 
                      hx-target="#content-area">
                    
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label for="city-select" class="form-label small text-muted">{% trans "Город" %}</label>
                            <select class="form-select form-select-sm" id="city-select" name="city">
                                <option value="">{% trans "Все города" %}</option>
                                {% for city in cities %}
                                <option value="{{ city.id }}" {% if selected_city == city.id|stringformat:"s" %}selected{% endif %}>
                                    {% trans city.name  %}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label small text-muted">
                                {% if category_slug == 'rabota' %}
                                {% trans "Зарплата" %}
                                {% else %}
                                {% trans "Стоимость" %}
                                {% endif %}
                            </label>
                            <div class="d-flex gap-2">
                                <input type="number" class="form-control form-control-sm" 
                                       placeholder={% trans "От" %} name="price_min" value="{{ price_min }}">
                                <input type="number" class="form-control form-control-sm" 
                                       placeholder={% trans "До" %} name="price_max" value="{{ price_max }}">
                            </div>
                        </div>

                        {% if category_slug == 'rabota' %}
                        <div class="col-md-4">
                            <label for="experience-select" class="form-label small text-muted">{% trans "Опыт работы" %}</label>
                            <select class="form-select form-select-sm" id="experience-select" name="experience">
                                <option value="">{% trans "Не имеет значения" %}</option>
                                {% for choice_value, choice_label in experience_choices %}
                                <option value="{{ choice_value }}" {% if experience == choice_value|stringformat:"s" %}selected{% endif %}>
                                    {{ choice_label }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-4">
                            <label for="format-select" class="form-label small text-muted">{% trans "Формат работы" %}</label>
                            <select class="form-select form-select-sm" id="format-select" name="work_format">
                                <option value="">{% trans "Любой формат" %}</option>
                                {% for choice_value, choice_label in work_format_choices %}
                                <option value="{{ choice_value }}" {% if work_format == choice_value|stringformat:"s" %}selected{% endif %}>
                                    {{ choice_label }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-4">
                            <label for="schedule-select" class="form-label small text-muted">{% trans "График работы" %}</label>
                            <select class="form-select form-select-sm" id="schedule-select" name="work_schedule">
                                <option value="">{% trans "Любой график" %}</option>
                                {% for choice_value, choice_label in work_schedule_choices %}
                                <option value="{{ choice_value }}" {% if work_schedule == choice_value|stringformat:"s" %}selected{% endif %}>
                                    {{ choice_label }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        
                        <div class="col-12 d-flex justify-content-between">
                            <button type="button" class="btn btn-sm btn-outline-secondary" 
                                    hx-get="{% url 'core:post_list_by_rubric' rubric_pk %}" 
                                    hx-target="#content-area">
                                <i class="bi bi-x-circle me-1"></i>{% trans "Сбросить" %}
                            </button>
                            
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="bi bi-funnel-fill me-1"></i>{% trans "Применить" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
