{% load static %}

<button 
    hx-post="{% url 'core:favorite_toggle' post.pk %}" 
    hx-target="#favorite-button-{{ post.pk }}" 
    class="btn position-absolute top-0 end-0 m-2 {% if post.pk in favorite_post_ids or is_favorite %}btn-danger{% else %}btn-outline-light{% endif %} rounded-circle p-1"
    style="width: 32px; height: 32px;">
    <i class="bi {% if post.pk in favorite_post_ids or is_favorite %}bi-heart-fill{% else %}bi-heart{% endif %}" 
       style="font-size: 1rem;"></i>
</button>
