
{% comment %} Категории {% endcomment %}
{% comment %} {% include 'includes/include_cat.html' %} {% endcomment %}
{% include 'includes/filter.html' %}

<div class="row g-3">
    {% if posts %}
        {% for post in posts %}
            <div class="" id="post-card-{{ post.pk }}">
                {% include 'includes/card.html' %}
            </div>
        {% endfor %}
    {% else %}
        <div class="col-12 text-center py-5">
            <div class="empty-icon mb-3">
                <i class="bi bi-search text-muted fs-1"></i>
            </div>
            <h5 class="mb-3">Объявления не найдены</h5>
            <p class="text-muted">
                В данной категории пока нет объявлений
            </p>
        </div>
    {% endif %}
</div>


