
{% load i18n %}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="createPostModalLabel">{% trans "Создать объявление" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans "Закрыть" %}"></button>
    </div>
    <div class="modal-body small">
        <div class="d-grid gap-3 pb-3">
            <button type="button"
                   class="btn btn-outline-primary d-flex align-items-center"
                   hx-get="{% url 'jobs:job_create' %}"
                   hx-target="#dialog"
                   hx-trigger="click delay:300ms"
                   onclick="bootstrap.Modal.getInstance(document.getElementById('modal')).hide()">
                <i class="bi bi-briefcase me-2"></i>{% trans "Разместить вакансию" %}
            </button>
            <button type="button"
                class="btn btn-outline-primary d-flex align-items-center"
                hx-get="{% url 'services:services_create' %}"
                hx-target="#dialog"
                hx-trigger="click delay:300ms"
                onclick="bootstrap.Modal.getInstance(document.getElementById('modal')).hide()">
                <i class="bi bi-tools me-2"></i>{% trans "Разместить услугу" %}
            </button>
        </div>
    </div>
</div>
